################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Efarming_Sustainability.App/copilot-chat/ed8e5257/sessions/5c7f5f50-7afe-40bd-bb4a-f1a757ab25f9
/.vs/Efarming_Sustainability.App/CopilotIndices/17.14.1290.42047
